{% extends 'base.html' %}
{% block anther_content_area %}
<!-- <link href="../templates/css/date.css" rel="stylesheet"> -->
<!-- <link href="./date.css" rel="stylesheet"> -->
{% endblock %}

{% block content %}

<div class="aa">
	<div class="input-group date" data-provide="datepicker">
	    <input type="text" class="form-control">
	    <div class="input-group-addon">
	        <span class="glyphicon glyphicon-th"></span>
	    </div>
	</div>
</div>  

<div class="aa">
	<div class="input-group date" data-provide="datepicker">
	    <input type="text" class="form-control">
	    <div class="input-group-addon">
	        <span class="glyphicon glyphicon-th"></span>
	    </div>
	</div>
</div>

{% endblock %}